html,
body {
    height: 100%;
    margin: 0 !important;
}
.page {
    width: 100%;
    height: 100%;
    display: flex;
    table-layout:fixed;
}

.side-menu {
    width: 20%;
    max-width: 420px;
    min-width: 100px;
    display: table-cell;
    background-color: #121640;
}

.content-container{
    width: 80%;
    height: 100%;
    display: table-cell;
}

.content {
    width: 100%;
    height: 100%;
    display: inline-table;
    border-collapse: collapse;
}

.header {
    display: table-cell;

}

.side-menu-bottom{
    bottom: 0;
}

.editable-content {
    height: 80%;
    display: table-cell;

}

.footer {
    display: table-cell;
    /*background-color: #888eff;*/

}

.siteLogo{
    width: 20%;
}

.content-container{
    background: #584483;
    background: -webkit-linear-gradient(#64887a, #584483);
    background:    -moz-linear-gradient(#64887a, #584483);
    background:         linear-gradient(#64887a, #584483);
}

body .ui-panelgrid .ui-panelgrid-cell{
    border: None !important;
    background: None !important;
    color: white !important;

}