html,
body {
    height: 100%;
    margin: 0 !important;
}
.page {
    width: 100%;
    height: 100%;
    display: flex;
    table-layout:fixed;
}


/* Side Menu */
.side-menu-div {
    padding-top: 1rem;
}

.siteLogo{
    width: 50%;
    border-color: mediumpurple;
    border-radius: 100px;
    border: solid;
}

.speeddial-circle-demo .ui-speeddial-quarter-circle.ui-speeddial-direction-up-right {
    left: 0.5rem;
    bottom: 0.5rem;
}

.speeddial-circle-demo .pi-plus{
    display: none;
}
.ui-speeddial-action{
    color: white !important;
}
#iframe-holder {
    margin: 0.3rem;
}

.profile-button{
    background-image: url("#{userController.userPhoto()}") !important;
    background-size:contain !important;
}

.sideMenuSplitter {
    background-color: #121640;
}

.mainContentSplitter{
    background: #584483;
    background: -webkit-linear-gradient(#64887a, #584483);
    background:    -moz-linear-gradient(#64887a, #584483);
    background:         linear-gradient(#64887a, #584483);
    display: inline-block;
    overflow: auto;
}






/* Base */
.content-container{
    width: 80%;
    height: calc(100% - 0.5px);;
    display: table-cell;
}

.content {
    width: 100%;
    height: 100%;
    display: inline-table;
    border-collapse: collapse;
}

.header {
    display: table-cell;
}

.footer {
    display: table-cell;
}

.editable-content {
    height: 80%;
    display: table-cell;
}

.dataView{
    background: none !important;
}


/* Body/UI */
body .ui-splitter .ui-splitter-gutter{
    background: #034586;
}

body .ui-panel .ui-panel-content {
    border: None !important;
    background: None !important;
    color: white !important;

}

body .ui-panel .ui-panel-footer{
    border: None !important;
    background: None !important;
    color: white !important;
}

.ui-dataview-header{
    background: none !important;
}
.ui-dataview-content{
    background: none !important;
}
.ui-paginator{
    background: none !important;
}
body .ui-paginator .ui-paginator-current, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last{
    background: none !important;
    color: white !important;
}

.ui-paginator.ui-paginator-bottom{
    border:none;
}
.ui-dataview .ui-dataview-header{
    color: white;
    border:none;
}

.ui-tabs .ui-tabs-panels{
    background: none !important;
}
.ui-dataview .ui-paginator.ui-paginator-bottom{
    border:none;
}
.ui-datatable thead th{
    background: none !important;
}

body .ui-datatable .ui-datatable-data > tr{
    background: none !important;
    color: white;
    border: none !important;
}

body .ui-datatable thead th{
    color: white;
    border: solid 1px #121640 !important;
}
body .ui-datatable .ui-datatable-data > tr > td{
    border: solid 1px #121640 !important;
}
body .ui-datatable .ui-paginator.ui-paginator-bottom{
    background: none !important;
    border: solid 1px #121640 !important;
}
body .ui-datatable .ui-paginator.ui-paginator-top{
    background: none !important;
    border: solid 1px #121640 !important;
}
ui-datagrid-header ui-widget-header{
    background: none !important;
    border: solid 1px #121640 !important;
    color: white;
}
body .ui-datagrid .ui-datagrid-header, body .ui-datagrid .ui-datagrid-footer{
    background: none !important;
    border: solid 1px #121640 !important;
    color: white;
    font-size: 25px;
}

.ui-datatable .ui-datatable-data tr.ui-state-hover.accept td {
    color: black !important;
    background-color: #DCEDC8 !important;
}
body .ui-datagrid .ui-datagrid-content{
    background: none !important;
    border: solid 1px #121640 !important;
    color: white;
}
body .ui-datatable .ui-datatable-footer{
    background: none !important;
    border: solid 1px #121640 !important;
}
body .ui-datatable .ui-datatable-header{
    background: none !important;
    border: solid 1px #121640 !important;
}
body .ui-button.ui-button-outlined{
    background-color: white !important;
}
body .ui-panel .ui-panel-titlebar{
    display: none;
}
body .ui-splitter{
    color: white;
}

body .ui-panelgrid .ui-panelgrid-cell{
    background: none;
    color: white;
}
body .ui-card{
    width: 100% !important;
    background: none;
    color: white;
    border: white solid 1px;
}

body .ui-dialog .ui-dialog-content{
    background: #4e4373ed;

}
body .ui-dialog .ui-dialog-titlebar{
    background: #4e4373ed;

}
a{
    color: #2a11db;
}